<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: html_head" />
<body>

	<div th:replace="fragments/fragments :: html_menu" />

	<div class="container" style="margin-top: 8%">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800"><span th:text="${lista}"></span></h1>
		<!-- DataTale -->
		<div class="card shadow mb-4">
			<div class="card-header py-5">
				
				<div class="text-right" >

					<a href="/foto/novo" class="btn btn-primary btn-icon-split">
						<span class="text">Cadastar</span>
					</a>

				</div>

			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>Id</th>
								<th>Data</th>
								<th>Usuario</th>
								<th>Descrição</th>
								<th>foto</th>
								<th>legenda</th>
								<th>EDITAR</th>
								<th>DELETAR</th>

							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Data</th>
								<th>Usuario</th>
								<th>Descrição</th>
								<th>foto</th>
								<th>legenda</th>
								
								<th>EDITAR</th>
								<th>DELETAR</th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each= "f : ${listaFotos}">
								
								<td th:text= "${f.id}"></td>
								<td th:text= "${f.dataFoto}"></td>
								<td th:text= "${f.usuario.nome}">
								<td th:text= "${f.descricao}"></td>
								<td>
								 
								   <img class="img-thumbnail img-fluid"   
								        th:src="@{${f.getFotosImagePath}}"/>
								
								</td>
								
								<td th:text= "${f.legenda}"></td>
									
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="fragments/fragments :: html_footer" />
</body>
</html>